<script type="text/babel">
class OriginalList extends React.Component {
  constructor() {
    super();
    this.state = {
      originalList: ""
    };

    this.setOriginalList = this.setOriginalList.bind(this);
  }

  componentDidUpdate(prevProps) {
    if (this.props.list !== prevProps.list) {
      this.setOriginalList(this.props.lists)
    }
  }

  setOriginalList(list) {
    this.setState({originalList: list})
  }

  render() {
    return (
      <div>
        <h1>Original List</h1>
        <ul>{originalList}</ul>
      </div>
    );
  }
}
</script>